<h2> Coursera Capstone Notebook <h2>

<i> This notebook mainly focuses on the capstone project of the IBM Data science professional certification. <i>

In [1]:
import pandas as pd
import numpy as np

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

<h4> Beautiful Soup </h4>
    
Beautiful Soup is a Python library for pulling data out of HTML and XML files. It works with your favorite parser to provide idiomatic ways of navigating, searching, and modifying the parse tree. It commonly saves programmers hours or days of work.

In [3]:
from bs4 import BeautifulSoup

In [4]:
import requests

In [5]:
html = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text
bs = BeautifulSoup(html)

Initially, we can get the column headers which arer considered to be the feature names in our dataframe

bs.table - It will retrieve the first table that is found in the HTML file. \
find_all() function is used to retrieve every occurence of the tag which is passed as argument.

In [6]:
rows = bs.table.find_all('th')

In [7]:
column = []
for row in rows:
    a = row.string
    a = a[:-1]
    column.append(a)
print(column)

['Postal code', 'Borough', 'Neighborhood']

Next, we can get all the row values, append it to an empty list.
Finally, we convert the list to the dataframe.

In [8]:
table_rows = bs.table.find_all('tr')
l = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    l.append(row)
ds = pd.DataFrame(l, columns=column)
ds.head()

  Postal code         Borough        Neighborhood
0        None            None                None
1       M1A\n  Not assigned\n                  \n
2       M2A\n  Not assigned\n                  \n
3       M3A\n    North York\n         Parkwoods\n
4       M4A\n    North York\n  Victoria Village\n

In the above result, we can see that first row has 'none' values. So, we can remove it from our dataframe.
reset_index() is used to make the dataframe start from the index 0 onwards.

In [9]:
ds = ds.iloc[1:,:]
ds.reset_index(drop=True,inplace=True)
ds.head()

  Postal code             Borough                  Neighborhood
0       M1A\n      Not assigned\n                            \n
1       M2A\n      Not assigned\n                            \n
2       M3A\n        North York\n                   Parkwoods\n
3       M4A\n        North York\n            Victoria Village\n
4       M5A\n  Downtown Toronto\n  Regent Park / Harbourfront\n

Now, we can see some unwanted new line characters ('\n') in every row. This is in very messier form and we need to clean those data before we can do anything meaningful with that text data. Here, we will use regular expressions to replace strings which have some pattern to it.

In [10]:
ds = ds.replace('\n','',regex=True)
ds = ds.replace('/',',',regex=True)
ds.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned
1         M2A      Not assigned
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park , Harbourfront

Now we should get rid of the rows whose borough values are not assigned.

In [11]:
print("Initally the shape of the dataframe is {}".format(ds.shape))

Initally the shape of the dataframe is (180, 3)

In [12]:
index_rows = ds[ds['Borough'] == 'Not assigned'].index
ds.drop(index_rows,inplace=True)
ds.reset_index(drop=True,inplace=True)
ds.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [13]:
print("The final dimension of the dataframe is {}".format(ds.shape))

The final dimension of the dataframe is (103, 3)